<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
  </head>

  <body>
    <header>
      <h1>Gallery</h1>
    </header>

    <main>
      <% if (gifs[0] !== 'error') { %>
        <% var imgsInRow = 0 %>
        <% var maxImgsPerRow = 6 %>
        <table>
          <tr>
            <% gifs.forEach(function(gif) { %>
              <% if (imgsInRow >= maxImgsPerRow) { %>
                </tr><tr>
                <% imgsInRow = 0 %>
              <% } %>
              <td><img src=<%= gif %>></td>
              <% imgsInRow++ %>
            <% }); %>
          </tr>
        </table>
      <% } else { %>
        <p>Error getting results</p>
      <% } %>
    </main>
  </body>
</html>